@font-face {
    font-family: "RalewayRegularLigt";
    src: url("../fonts/montserrat-light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/raleway.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/raleway-extrabold.ttf") format("truetype");
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/raleway-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}